.image-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.image-results h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #333;
    text-align: center;
}

/* Layout for frames */
.frames-container {
    display: flex;
    gap: 20px;
    margin-top: 16px;
    width: 100%;
}

/* Frame card styling */
.frame-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 480px; /* Limit the maximum width of each card */
}

.frame-card button {
    margin-top: 8px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    display: flex; /* Use flex to center the button */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    width: 150px; /* Set a fixed width for the button */
}

.frame-card button:hover {
    background-color: #0056b3;
}
.frame-card h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #666;
    text-align: center;
}

/* Canvas styling */
.frame-card canvas {
    border-radius: 4px;
    max-width: 100%;
    max-height: 600px; /* Prevent the canvas from being too large */
    cursor: pointer; /* Show pointer cursor to indicate that it's clickable */
}

/* Modal styling */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.close-button {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    z-index: 1001;
}
